body {
  background-color: #0d1321;
  border-top: 5px solid #3e5c76; }

#app-container .navigation-site {
  height: 55px;
  margin-top: 10px;
  width: 100%;
  margin: 0;
  padding: 5px; }
  #app-container .navigation-site a {
    color: wheat; }

#home {
  width: 100%;
  min-height: 100vh;
  margin-left: 0;
  margin-right: 0; }
