body {
  background-color: #0d1321;
  border-top: 5px solid #3e5c76; }

#app-container .fixed {
  position: fixed;
  left: 0;
  top: 5px;
  right: 0;
  height: 55px; }
  #app-container .fixed .navigation {
    height: 55px;
    position: relative;
    left: 0;
    width: 1100px;
    margin: auto;
    padding: 5px;
    overflow: hidden; }
  #app-container .fixed a {
    color: red; }

#navigation-site {
  position: absolute;
  left: 0;
  z-index: 9999; }

#navigation-login {
  position: absolute;
  right: 0;
  z-index: 9999; }

#home {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin-top: 55px;
  margin-left: 0px;
  margin-right: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white; }

.wrapper {
  width: 100%;
  max-width: 100%; }

.container-1 {
  height: auto;
  display: flex;
  max-height: 900px;
  min-height: 100vh;
  padding-top: 0vw;
  padding-bottom: 0vw;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1200px;
  width: 100%;
  align-self: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto; }
  .container-1 .banner-1 {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    min-height: 700px;
    padding-top: 55px;
    padding-bottom: 10vh;
    z-index: 99; }
    .container-1 .banner-1 .new {
      position: absolute;
      left: 0px;
      top: 20vh;
      display: flex;
      height: 42px;
      padding: 12px 15px; }
    .container-1 .banner-1 .join {
      position: relative;
      display: flex;
      width: 100%;
      height: auto;
      max-width: 1280px;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      -ms-flex-align: end; }
      .container-1 .banner-1 .join .para-1 {
        display: block;
        width: 50%; }
      .container-1 .banner-1 .join .para-2 {
        position: relative;
        width: 50%;
        height: auto;
        right: 0px; }
  .container-1 .banner-2 {
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 60px;
    right: 0px;
    bottom: 8vh;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    z-index: 0; }
    .container-1 .banner-2 .video {
      display: flex;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center; }
      .container-1 .banner-2 .video video {
        width: 80vw;
        height: 80vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.3; }

.container-2 {
  height: auto;
  position: relative;
  width: 100%;
  height: 300vh;
  max-width: 100%; }
  .container-2 .banner-1 {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 300vh; }
    .container-2 .banner-1 .visual-wrapper {
      position: sticky !important;
      left: 0px;
      top: 0px;
      right: 0px;
      display: flex;
      overflow: hidden;
      height: 100vh;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center; }
      .container-2 .banner-1 .visual-wrapper .visual {
        position: relative;
        display: flex;
        width: 100%;
        height: 90vh;
        max-width: 1280px;
        padding-left: 500px;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -ms-flex-align: end; }
        .container-2 .banner-1 .visual-wrapper .visual video {
          height: auto;
          width: 50vw;
          padding-left: 120px; }
  .container-2 .banner-2 {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center; }
    .container-2 .banner-2 .text-wrapper {
      position: relative;
      display: flex;
      width: 100%;
      height: auto;
      max-width: 1200px;
      padding-right: 50px;
      padding-left: 50px;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center; }
      .container-2 .banner-2 .text-wrapper .text {
        position: relative;
        width: 100%;
        display: flex;
        height: auto;
        max-width: 1280px;
        min-height: 100vh;
        padding-top: 10vh;
        padding-bottom: 10vh;
        align-items: center;
        -webkit-align-items: center;
        -ms-flex-align: center; }
        .container-2 .banner-2 .text-wrapper .text .column {
          width: 400px;
          height: auto;
          display: flex; }

.container-3 {
  position: fixed;
  top: 35vh;
  display: flex;
  overflow: visible;
  width: 100vw;
  height: auto;
  padding-left: 0vw;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center; }
  .container-3 .parallaxContainer3 {
    margin: auto;
    display: flex; }
  .container-3 .text-wrapper {
    display: flex;
    overflow: visible;
    width: 100%;
    max-width: 1200px;
    padding-right: 50px;
    padding-left: 50px;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    margin: auto; }
    .container-3 .text-wrapper .text-1 {
      margin-left: -7.2px;
      margin-right: 28.8px;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 105px;
      letter-spacing: 5px;
      font-weight: 500; }
    .container-3 .text-wrapper .text-2 {
      margin-right: 28.8px;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 105px;
      letter-spacing: 5px;
      font-weight: 500; }
    .container-3 .text-wrapper .text-3 {
      margin-right: 28.8px;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 105px;
      letter-spacing: 2px;
      font-weight: 500; }

.container-4 {
  height: 265vh;
  position: relative;
  width: 100%;
  background-color: #1d2d44; }
  .container-4 .banner-wrapper {
    max-width: 100%;
    top: 0px;
    height: 100vh;
    position: sticky !important;
    display: flex;
    overflow: hidden;
    width: 100%;
    max-height: 100%;
    padding: 6vw;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center; }
    .container-4 .banner-wrapper .banner-1 {
      position: absolute;
      left: 0px;
      top: 0px;
      display: flex;
      width: 100vw;
      height: 100vh;
      padding-right: 50px;
      padding-left: 50px;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center; }
      .container-4 .banner-wrapper .banner-1 .parallaxContainer4Banner1Text1 {
        display: flex;
        visibility: visible; }
      .container-4 .banner-wrapper .banner-1 .text-1-positioning {
        position: absolute;
        top: 20vh;
        margin-left: 0vw; }
      .container-4 .banner-wrapper .banner-1 .text-1 {
        z-index: 999;
        display: flex;
        overflow: visible;
        width: 100%;
        height: auto;
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        font-size: 105px;
        letter-spacing: 2px;
        font-weight: 500; }
      .container-4 .banner-wrapper .banner-1 .text-2 {
        z-index: 999;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        overflow: visible;
        width: 100%;
        height: 26vh;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8vh;
        padding-bottom: 0vh;
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        font-size: 34px; }
      .container-4 .banner-wrapper .banner-1 .overlay {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        display: block;
        height: 70vh;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -ms-flex-align: end;
        background-image: linear-gradient(180deg, transparent, #0d1321 86%);
        opacity: 0.85; }
    .container-4 .banner-wrapper .banner-2 {
      position: relative;
      display: flex;
      overflow: visible;
      width: 100vw;
      height: 100vh;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center; }
      .container-4 .banner-wrapper .banner-2 .visual-wrapper {
        display: flex;
        height: auto;
        align-items: center;
        -webkit-align-items: center;
        -ms-flex-align: center; }
        .container-4 .banner-wrapper .banner-2 .visual-wrapper .visual-1 {
          position: relative;
          display: flex;
          margin-right: 0vw; }
        .container-4 .banner-wrapper .banner-2 .visual-wrapper .visual-2 {
          position: relative;
          display: flex;
          margin-right: 0vw; }
        .container-4 .banner-wrapper .banner-2 .visual-wrapper .visual-3 {
          position: relative;
          display: flex;
          margin-right: 0vw; }

.container-5 {
  display: block;
  height: auto;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  position: relative;
  width: 100%;
  height: 300vh;
  max-width: 100%; }
  .container-5 .banner-1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .container-5 .banner-1 .wrapper {
      width: 50%;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 50px;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      top: 0;
      height: 100vh;
      position: sticky !important;
      display: flex;
      overflow: hidden; }
      .container-5 .banner-1 .wrapper .text-wrapper {
        position: relative;
        display: block;
        height: auto;
        max-width: 550px;
        min-height: 420px;
        margin-bottom: 0;
        padding-top: 0;
        width: 100%; }
        .container-5 .banner-1 .wrapper .text-wrapper .text-1 {
          width: 100%;
          max-width: 100%;
          display: inline-block;
          font-size: 100px;
          letter-spacing: -2.4px; }
        .container-5 .banner-1 .wrapper .text-wrapper .text-2 {
          width: 100%;
          max-width: 100%;
          display: inline-block;
          font-size: 100px;
          letter-spacing: -2.4px; }
        .container-5 .banner-1 .wrapper .text-wrapper .text-3 {
          width: 100%;
          max-width: 100%;
          display: inline-block;
          font-size: 100px;
          letter-spacing: -2.4px; }
  .container-5 .banner-2 {
    display: block;
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: auto; }
    .container-5 .banner-2 .visual-1 {
      position: relative;
      display: flex;
      height: auto;
      width: 50%;
      max-width: 600px;
      margin-bottom: 10vw;
      margin-left: 50%;
      padding-top: 10vw;
      padding-right: 50px;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      min-height: 80vh; }
      .container-5 .banner-2 .visual-1 .content {
        overflow: hidden;
        width: 100%;
        padding-top: 0;
        display: flex; }
    .container-5 .banner-2 .visual-2 {
      position: relative;
      display: flex;
      height: auto;
      width: 50%;
      max-width: 600px;
      margin-bottom: 10vw;
      margin-left: 50%;
      padding-top: 10vw;
      padding-right: 50px;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      min-height: 80vh; }
      .container-5 .banner-2 .visual-2 .content {
        overflow: hidden;
        width: 100%;
        padding-top: 0;
        display: flex; }
    .container-5 .banner-2 .visual-3 {
      position: relative;
      display: flex;
      height: auto;
      width: 50%;
      max-width: 600px;
      margin-bottom: 10vw;
      margin-left: 50%;
      padding-top: 10vw;
      padding-right: 50px;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      min-height: 80vh; }
      .container-5 .banner-2 .visual-3 .content {
        overflow: hidden;
        width: 100%;
        padding-top: 0;
        display: flex; }
