body {
  background-color: #1d2d44;
  border-top: 5px solid #0d1321; }

#navigation {
  height: 55px;
  margin-top: 10px;
  width: 100%;
  background-color: #3e5c76;
  margin: 0;
  padding: 5px; }
  #navigation a {
    color: wheat; }

#home {
  width: 100%;
  background-color: #748cab;
  min-height: 100vh;
  margin-left: 0;
  margin-right: 0; }
